body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Tomorrow", sans-serif;
    min-height: 100vh;
}

nav {
    background-color: #000000;
    padding: 0;
}

.logo {
    width: 75px;
}

.logo img {
    width: 75px;
    margin: 0;
    padding: 0;
}

.topLinks {
    padding: 10px;
    padding-left: 10%; /* to align with image */
    display: flex;
    align-items: center;
    background-color: #021e4b;
}

.topLinks a {
    text-decoration: none;
    color: #ffffff;
}

.linkBox {
    margin: 0 20px;
    display: flex;
    border-bottom: 2px solid transparent;
}

.linkBox:hover {
    border-bottom: 2px solid #ffffff;
}

.wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    font-size: 12px;
    width: 100%;
    padding: 5px 0;
    background-color: #021E4A;
    text-align: center;
}

footer span{
    margin-right: 20px;
}

footer a{
    text-decoration: underline;
    color: #fff;
}


/* Today's Picture */
#todaysPictureWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todaysPicture {
    width: 100%;
    max-height: 90vh;
    object-fit: contain;
}

.todaysPicture.youtube {
    width: 60vw;
    height: 60vh;
}

#todaysPictureWrapper .explanation{
    padding: 20px;
    font-size: 14px;
    width: 80%;
}

/* Mobile Styles */
@media (max-width: 768px) {
    #todaysPictureWrapper {
        width: 100%;
    }
    .todaysPicture.youtube {
        width: 90vw;
        height: 40vh;
    }
}
